name: mi_kard
description: "A new Flutter project."
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.4.3 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.6
  url_launcher: ^6.3.0
  font_awesome_flutter: ^10.7.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0
flutter:
  uses-material-design: true
  assets:
    - images/

  fonts:
    - family: Playwrite Ãsland
      fonts:
        - asset: fonts/PlaywriteIS-VariableFont_wght.ttf
    - family: PT Sans
      fonts:
        - asset: fonts/PTSans-Regular.ttf